* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
img {
    width: 100%;
}
.container {
  max-width: 1280px;
  margin:  auto;
}
.btn {
    color: white;
    background-color: rgb(221, 0, 0);
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
}
/* banner */
.banner {
  background-color:black;
  display: flex;
  align-items: center;
  margin: 50px auto;
  color:rgb(255, 255, 255);
  border-radius: 10px;
}
.banner-content {
  flex: 1;
  padding-left: 40px;
}
.banner h2 {
  font-size: 70px;
  font-weight: 700;
  line-height:70px;
}
.banner p {
    margin: 15px 0;
    color: white;
}
.banner-img{
   flex: 1;
}
.banner-img img{
    display: block;
}
/* main */
/* button-container */
.card-container{
    display: flex;
}
.button-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    gap: 20px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}
.btn-2{
    background-color: white;
    color: black; 
} 




/* responsive */
/* laptop/tab */
@media (max-width: 992px){

.container{
    margin: 20px 20px;
}
.banner{
    gap: 20px;
}
.banner-content{
    padding-left:20px;
}
.banner h2{
    font-size: 3rem;
    line-height: 3rem ;
}
.button-container{
    width: 100%;
    flex-direction: row;
    background-color: transparent;
    justify-content: center;
}
.button-container *{flex: 1;}
.button-container button{
    border: 1px solid black;
}
}


/* for mobile device */
@media(max-width: 768px) {
    .banner{
        flex-direction: column;
        margin: 20px ;
        
    }
  
    .banner-content{
    text-align: center;
    margin-bottom: 30px;
    padding-left: 0;
    padding-top: 30px;
    }
    .button-container{
   
    flex-direction: column;
  
  
}
}